<% @events.each do |event| %>
	<a href="<%= event_path(event.id)%>">
	<section class="event border border-info rounded">
		<div class="event-heading">
			<h4><%#= event.title.capitalize %>Title</h4>
      <hr>
		</div>
	</a>
	<div class="event-content">
		<p><%= event.description %></p>
		<p class="creator">By <%=event.creator.name %></p>
			<ul style="list-style-type:none;">
				<li>
					<i class="icon fa fa-map-marker"></i><span><%= event.location %></span>
				</li>
				<li>
					<i class="icon fa fa-calendar-o"></i><span><%= "#{event.date} at {format_time(event.start_time)}"%> </span>
				</li>
			</ul>
	</div>
	</section>
<% end %>
