<% provide(:title, @event.title) %>
<div class="row justify-content-center list">
	<div class="col-sm-8">
    <section class="event border border-info rounded p-1 m-3">
  		<div class="row justify-content-between align-items-center py-3 border-bottom">
        <div class="col-sm-8">
          <h4 class="m-0"><%= @event.title.capitalize %></h4>
        </div>
        <div class="col-sm-4">
          <% if current_user.appointments.find_by(attended_event_id: @event.id) %>
						<%= form_for(current_user.appointments.find_by(attended_event_id: @event.id), :html => { method: :delete }) do |f| %>
							<%= f.submit "Can't make it", class: "form-control btn btn-danger" %>
						<% end %>
          <% else %>
						<%= form_for current_user.appointments.build(attended_event_id: @event.id) do |f| %>
							<%= f.hidden_field :attended_event_id, value: @event.id %>
							<%= f.submit "Attend Event", class: "form-control btn btn-outline-primary" %>
						<% end %>
          <% end %>
        </div>
  		</div>
    	<div class="event-content p-3">
    		<p><%= @event.description %></p>
    		<p class="creator">Hosted by <%= @event.creator.name %></p>
        <i class="fa fa-fw fa-map-marker mr-3"></i><span><%= @event.location %></span>
        <br>
    		<i class="fa fa-fw fa-calendar-o mr-3"></i><span><%= "#{format_date(@event.date)} at #{format_time(@event.time)}"%> </span>
    	</div>
  	</section>

    <section class="attendees p-1 m-3">
			<div class="row justify-content-between align-items-center py-3 border-bottom">
        <div class="col-sm-8">
		      <h4 class="attendees-head m-0"><i class="fa fa-list mr-3"></i>Attendees</h4>
				</div>
				<div class="col-sm-4 text-center">
					<p class="m-0">Total: <%= @event.attendees.count %></p>
				</div>
			</div>
			<div class="attendees-content p-3">
	  		<% @attendees.each do |attendee| %>
	  			<ul class="guest-list m-1" style="list-style:none">
	  				<li>
	            <i class="fa fa-user mr-3"></i><span><%= attendee.name %></span>
	          </li>
	  			</ul>
	  		<% end %>
			</div>
	  </section>
	</div>
</div>
