<nav class="navbar navbar-dark bg-dark">
  <div class="row justify-content-between w-100 m-0">
    <div class="col-sm-4">
      <a class="navbar-brand" href="/">Events.io</a>
    </div>
    <div class="col-sm-6 text-right">
      <%= link_to '<i class="fa fa-list-alt"> Events</i>'.html_safe, events_path, :class => "btn btn-outline-primary" %>
      <% if logged_in? %>
        <%= link_to '<i class="fa fa-plus"> Create event</i>'.html_safe, new_event_path, :class => "btn btn-outline-primary" %>
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"> <%= current_user.name.capitalize %></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right text-center">
            <%= link_to "Home", root_path %>
            <br/>
            <%= link_to "Account", root_path %>
            <br/>
            <%= link_to "My Events", user_events_path %>
            <div class="dropdown-divider"></div>
            <%= link_to "Log Out", logout_path, :method => "delete" %>
          </div>
        </div>
      <% else %>
        <%= link_to "Log in", login_path, :class => "btn btn-outline-primary" %>
        <%= link_to "Sign up", new_user_path, :class => "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</nav>
